body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}


.nav-menu  a {
 color: black;
 padding-right: 11px;
 text-decoration: none;
 font-weight: bold;

}


.nav-menu  a:hover {
  color: lightseagreen;
  font-weight: bold;
 }